.current-weather {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.current-weather-info {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.current-weather-info p {
    font-size: 36px;
    font-weight: bold;
}