.current-weather-container {
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
}

.current-weather {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
}

.current-weather-info {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding-left: 20px;
}

.city-name {

    font-weight: bolder;
}